.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# Custom Manually Added
.env
error_log
assets/job_doc/
assets/company_doc/
assets/job_photo/
!assets/job_photo/.htaccess
assets/company_photo/
!assets/company_photo/.htaccess
assets/report_photo/
assets/report_pdf/
assets/job_public_folder/
assets/company_photos/
assets/vendor_doc/